<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<title>Photobooth.js</title>
	</head>
	<body>

		<div id="wrapper">
			<div id="example"></div>
			<div id="gallery"></div>
		</div>


		<form id="selfie-form">
				<button type="submit">Cool if works!</button>
		</form>




<div id="selfies-list"></div>





<script id="selfieview-template" type='text/template'>
	<div class="selfie">
			<img id="show" src="<%- image_url %>">
				
			<p>
			 <%- json_analysis %>
		 	</p>
		 	<div id="stats-view"></div>
		 	<button data-action="destroy">Delete</button>
	</div>
		</script>



<script id="selfieview-stats-template" type='text/template'>
	<div class="stats">
			<h3>
			 <%- votes %>
		 	</h3>
	</div>
		</script>




		

		<%= csrf_meta_tag %>

	</body>
</html>