<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<title>Photobooth.js</title>
	</head>
	<body>

		<div id="wrapper">
			<div id="example"></div>
			<div id="gallery"></div>
		</div>


		<form id="selfie-form">
				<button type="submit">Cool if works!</button>
				
		</form>


		<%= csrf_meta_tag %>














	</body>
</html>
<!--
<script>
$('#sendData').click(function(){

	// Scooter: Removing the replace so that I get ALL the header information on the Rails side
var imgElem = $('img')[0].src
 //.
	//replace(/^data:image\/(png|jpg);base64,/, "");
var imgData = imgElem;//JSON.stringify(imgElem);
  $.ajax({
  url: '/selfies',
  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
  dataType: 'json',
  data: {photobooth_image_data: imgData},
  type: 'POST',
  success: function(data) {
    console.log(data);
    }
  });
});


</script>-->
