<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<title>Photobooth.js</title>
</head>
<body>

	<div id="wrapper">
		<div id="example"></div>
		<div id="gallery"></div>
	</div>
	<br>


	<form id="selfie-form">
		<div class="centered">
			<button class="btn btn-large btn-warning center" type="submit">Click to Submit Selfie!!!
			</button>
		</div>
	</form>

	<br>
	<div class="centered" id="selfies-list"></div>




	<script id="selfieview-template" type='text/template'>
	<div class="selfie">
		<img class="rounded" id="show" src="<%%= show_url %>">
		<ul>
			<li>
				<h2>Caption: <%%= caption %></h2>
			</li>
			<li>
				Analysis dump: <%%= json_analysis %>
			</li>	
		</ul>
		<div id="stats-view"></div>
		<button data-action="destroy">Delete</button>
	</div>
	</script>



	<script id="selfieview-stats-template" type='text/template'>
	<div class="stats">
		<h3>
			<%%= votes %>
		</h3>
	</div>
	</script>









	<%= csrf_meta_tag %>

</body>
</html>

