a:focus {
	outline: none;
}

.panel {
	position: fixed;
	top: 50px;
	right: 0;
	display: none;
	background: #000000;
	border:1px solid #111111;

	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;

	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
	width: 330px;
	height: auto;
	padding: 30px 130px 30px 30px;
	filter: alpha(opacity=85);
	opacity: .85;

	z-index: 998;
}

.panel p{
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;
}

.panel a, .panel a:visited{
	margin: 0;
	padding: 0;
	color: #9FC54E;
	text-decoration: none;
	border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

a.rhs_slide_trigger{
	position: fixed;
	text-decoration: none;
	top: 80px; right: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 40px 20px 15px;
	font-weight: 700;
	background:#333333 url(/assets/plus.png) 85% 55% no-repeat;
	border:1px solid #444444;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	display: block;
	z-index: 999;

}

a.rhs_slide_trigger:hover{
	position: fixed;
	text-decoration: none;
	top: 80px; right: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 40px 20px 20px;
	font-weight: 700;
	background:#222222 url(/assets/plus.png) 85% 55% no-repeat;
	border:1px solid #444444;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

	display: block;
	z-index: 999;

}

a.active.rhs_slide_trigger {
	background:#222222 url(/assets/minus.png) 85% 55% no-repeat;
}

.columns{
	clear: both;
	width: 330px;
	padding: 0 0 20px 0;
	line-height: 22px;
}

.colleft{
	float: left;
	width: 130px;
	line-height: 22px;
}

.colright{
	float: right;
	width: 130px;
	line-height: 22px;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}