/*body {
	background:#1a1a1a;
	text-align:left;
	color:#666;
	width:700px;
	font-size:14px;
	font-family:georgia, 'time new romans', serif;
	margin:0 auto;
	padding:0;
}*/

a:focus {
	outline: none;
}

/*h1 {
	font-size: 34px;
	font-family: verdana, helvetica, arial, sans-serif;
	letter-spacing:-2px;
	color:#9FC54E;
	font-weight:700;
	padding:20px 0 0;
}

h2 {
	font-size: 24px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#444444;
	font-weight: 400;
	padding: 0 0 10px;
}

h3 {
	font-size:14px;
	font-family:verdana, helvetica, arial, sans-serif;
	letter-spacing:-1px;
	color:#fff;
	font-weight: 700;
	text-transform:uppercase;
	margin:0;
	padding:8px 0 8px 0;
}
*/
/*img{
	float: right;
	margin: 3px 3px 6px 8px;
	padding: 5px;
	background: #222222;
	border: 1px solid #333333;
}*/

/*p {
	color:#cccccc;
	line-height:22px;
	padding: 0 0 10px;
	margin: 20px 0 20px 0;
}*/

img {
	border:none;
}

#container {
	clear: both;
	margin: 0;
	padding: 0;
}

#container a{
	float: right;
	background: #9FC54E;
	border: 1px solid #9FC54E;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px;
	font-weight: 700;
}

#container a:hover{
	float: right;
	background: #a0a0a0;
	border: 1px solid #cccccc;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px;
	font-weight: 700;
}

.content {
	font-style:normal;
	font-family:helvetica, arial, verdana, sans-serif;
	color:#ffffff;
	background:#333333;
	border:1px solid #444444;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	margin: 30px 0 50px;
	padding: 15px 0;
}

.content p {
	margin: 10px 0;
	padding: 15px 20px;
}

.panel {
	position: fixed;
	top: 50px;
	right: 0;
	display: none;
	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	width: 330px;
	height: auto;
	padding: 30px 130px 30px 30px;
	filter: alpha(opacity=85);
	opacity: .85;
}

.panel p{
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;
}

.panel a, .panel a:visited{
	margin: 0;
	padding: 0;
	color: #9FC54E;
	text-decoration: none;
	border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

a.rhs_slide_trigger{
	position: fixed;
	text-decoration: none;
	top: 80px; right: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 40px 20px 15px;
	font-weight: 700;
	background:#333333 url(/assets/plus.png) 85% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
}

a.rhs_slide_trigger:hover{
	position: fixed;
	text-decoration: none;
	top: 80px; right: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 40px 20px 20px;
	font-weight: 700;
	background:#222222 url(/assets/plus.png) 85% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	display: block;
}

a.active.rhs_slide_trigger {
	background:#222222 url(/assets/minus.png) 85% 55% no-repeat;
}

.columns{
	clear: both;
	width: 330px;
	padding: 0 0 20px 0;
	line-height: 22px;
}

.colleft{
	float: left;
	width: 130px;
	line-height: 22px;
}

.colright{
	float: right;
	width: 130px;
	line-height: 22px;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}